.chayka-db_monitor-tree_container {
  height: 400px;
  width: 800px;
  overflow: auto;
}
.chayka-db_monitor-tree_container .node > .item {
  cursor: pointer;
  white-space: nowrap;
}
.chayka-db_monitor-tree_container .node > .item > .sql {
  display: none;
}
.chayka-db_monitor-tree_container .node > .item > .time {
  display: inline-block;
  width: 80px;
}
.chayka-db_monitor-tree_container .node > .item > .total {
  margin-left: 1em;
}
.chayka-db_monitor-tree_container .node .items {
  padding-left: 1em;
}
.chayka-db_monitor-tree_container .node.open > .item > .title {
  /*display: none;*/
}
.chayka-db_monitor-tree_container .node.open > .item > .time {
  /*display: none;*/
}
.chayka-db_monitor-tree_container .node.open > .item > .total {
  display: none;
}
.chayka-db_monitor-tree_container .node.sql .time {
  float: left;
  padding-right: 1em;
}
.chayka-db_monitor-tree_container .node.sql .sql {
  font-family: monospace;
  font-size: 10px;
  white-space: pre-wrap;
  display: inline-block;
  border-left: 2px dotted gray;
  margin-top: 1ex;
  margin-bottom: 3px;
  padding-left: 1em;
}
